# PlanAhead Generated physical constraints 

NET "Clk_signal_Scan" LOC = V12 | CLOCK_DEDICATED_ROUTE=FALSE; #Pin 2 yellow wire

NET "Data_Scan" 		 LOC = T12; #Pin 1 white wire
NET "Rst" 				 LOC = B8;		

NET "Data_Out[0]" LOC = U16;
NET "Data_Out[1]" LOC = V16;
NET "Data_Out[3]" LOC = V15;
NET "Data_Out[2]" LOC = U15;
NET "Data_Out[5]" LOC = N11;
NET "Data_Out[4]" LOC = M11;
NET "Data_Out[6]" LOC = R11;
NET "Data_Out[7]" LOC = T11;

