//! **************************************************************************
// Written by: Map P.20131013 on Sun Dec 08 20:45:27 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Data_Out<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "Data_Out<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "Data_Out<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "Data_Out<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "Data_Scan" LOCATE = SITE "T12" LEVEL 1;
COMP "Data_Out<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "Data_Out<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "Data_Out<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "Rst" LOCATE = SITE "B8" LEVEL 1;
COMP "Clk_signal_Scan" LOCATE = SITE "V12" LEVEL 1;
PIN Clk_signal_Scan_pin<0> = BEL "Clk_signal_Scan" PINNAME PAD;
PIN "Clk_signal_Scan_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Data_Out<0>" LOCATE = SITE "U16" LEVEL 1;
SCHEMATIC END;

