//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 02 18:08:18 2019
//! **************************************************************************

SCHEMATIC START;
COMP "Trigger" LOCATE = SITE "V12" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "V15" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "U15" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "U16" LEVEL 1;
COMP "Echo" LOCATE = SITE "T12" LEVEL 1;
COMP "Clk" LOCATE = SITE "V10" LEVEL 1;
SCHEMATIC END;

